<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
				  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
				  "http://mybatis.org/dtd/mybatis-3-config.dtd">
				  
				  <configuration> 
				  <typeAliases>
				  
							 <typeAlias type="com.iu.start.bankmember.BankMemberDTO" alias="BankMemberDTO"/>
								<typeAlias type="com.iu.start.bankaccount.BankAccountDTO" alias="BankAccountDTO"/>
								<typeAlias type="com.iu.start.bankbook.BankBookDTO" alias="BankBookDTO"/>
								<typeAlias type="com.iu.start.home.board.impl.BoardDTO" alias="BoardDTO"/>
								<typeAlias type="com.iu.start.home.board.notice.NoticeDTO" alias="NoticeDTO"/>
								<typeAlias type="com.iu.start.home.board.qna.QnaDTO" alias="QnaDTO"/>
								<typeAlias type="com.iu.start.bankmember.BankMemberFileDTO" alias="BankMemberFileDTO"/>
								
								<typeAlias type="com.iu.start.home.util.Pager" alias="Pager"/>
								
								<typeAlias type="java.lang.String" alias="String"/>
								<typeAlias type="java.lang.Long" alias="Long"/>
								<typeAlias type="java.util.List" alias="List"/>
						
						
													 
				 
	  
				  
				  </typeAliases>
				
				  </configuration>