<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="d1"> 
        <!-- 부모 (위에 감싸고 있는 태그) -->
         <h1>DOM_5PAGE</h1>
             <!-- 컨텐츠 영역 -->
        <ul id="list">

                <li>iu</li>
                <li>suzy</li> 
                    <!-- 자식(감싸진 태그) li 2개는 서로 형제관계-->

        </ul>


        <ol id="list2">

            <li>first</li>
            <li>second</li>
        </ol>
    </div>

    <div id="d2">

        <h1>Append Test</h1>
    </div>

    <div id="d3">

     <h1> before, after Test</h1>   
    </div>
    <button id="btn">button</button>
    <button id="add">ADD</button>
    <button id="add2">ADD2</button>
    <button id="add3">ADD3</button>
    <button id="add4">ADD4</button>
    <button id="add5">ADD5</button>


    <script src="/resources/js/dom_6.js"></script>
</body>
</html>