<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
		    <mapper namespace="com.iu.start.home.board.notice.NoticeDAO">
		    
		    <!--  공통적으로 들어가는  sql문 코드 조각 모으기 -->
		    <sql id="search">
		    
		    WHERE
				<choose >
				<when test="kind=='title'">TITLE</when>
				<when test="kind=='writer'">WRITER</when>
				<otherwise>CONTENTS</otherwise>
				</choose>
				LIKE '%'||#{search}||'%' 
		    </sql>
		    
		    
		 <!--  검색된 결과의 총갯수 -->
			 <select id= "getCount"  resultType="Long" parameterType="pager">
		       
		        SELECT COUNT (num) FROM NOTICE
		        <include refid="search"></include>
		    
		    </select> 
		    
		    
		    
		    <select id= "getList" resultType="com.iu.start.home.board.notice.NoticeDTO" parameterType="Pager">
		         SELECT * FROM
				(SELECT  ROWNUM R,N.* FROM
				(SELECT * FROM NOTICE
				<include refid="search"></include>
				 ORDER BY NUM DESC) N)
				WHERE R BETWEEN #{startRow} AND #{lastRow}
					<!--  num이 높은 숫자가 최신글로-->
		    
		    </select> 
		    
		    <select id= "getDetail" parameterType="com.iu.start.home.board.impl.BoardDTO"  resultMap="getDetailResult">
		    SELECT N.*,NF.*
		     FROM NOTICE N
		     LEFT JOIN
		     NOTICEFILE NF
		     ON N.NUM=MF.NUM
		     WHERE N.NUM= #{num}
		   
		    </select>
		   
		   <resultMap type="NoticeDTO" id="getDetailResult">
		   <id column="num" property="num"/>
		   <result column="TITLE" property="title"/>
		   <result column="WRITER" property="wrtier"/>
		   <result column="CONTENTS" property="contents"/>
		   <result column="REGDATE" property="redate"/>
		   <result column="HIT" property="hit"/>
		   <collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
		    <id column="FILENUM" property="fileNum"/>
		    <result column="FILENAME" property="fileName"/>
		    <result column="ORINAME" property="oriName"/>
		    </collection>
		   </resultMap> 
		    
		    <insert id= "setAdd" parameterType="com.iu.start.home.board.impl.BoardDTO">
		    
			<selectKey order="BEFORE" keyProperty="num" resultType="Long">
				SELECT BOARD_SEQ.NEXTVAL FROM DUAL
			</selectKey>
				INSERT INTO NOTICE (NUM, TITLE, WRITER, CONTENTS, REGDATE, HIT)
				VALUES (#{num}, #{title}, #{writer}, #{contents}, sysdate, 0)		    
		    
		    </insert>
		    
		    <update id= "setUpdate" parameterType="com.iu.start.home.board.impl.BoardDTO">
		    
		    UPDATE NOTICE SET TITLE = #{title} CONTENTS= #{contents} WHERE NUM = #{num}
		    
		    
		    </update>
		    <delete id= "setDelete" parameterType="com.iu.start.home.board.impl.BoardDTO">
		    
		     DELETE FROM NOTICE WHERE NUM = #{num}
		    
		    </delete>
		    
		    
		    </mapper>
		    